html {
    font-family: "Roboto Mono", monospace;
    /* font-family: sans-serif; */
    font-size: 12pt;
}

body {
    max-width: 960px;
    margin: 0 auto 0 auto;
    padding: 0 1em 0 1em;
    /* background: lightyellow; */
    background: #f9f5d7;
}

h1 {
    margin: 0;
    padding-top: .5em;
    padding-bottom: .5em;
}

.content {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

header a {
    display: inline-block;
    color: white;
    height: 100%;
    text-decoration: none;
    padding: 9px;
}

header a:hover {
    color: black;
    background: #BBB;
}

header {
    overflow: hidden;
    background: black;
    height: 2em;
}

footer {
    border-style: solid none none none;
    padding: 4em 0 2em 0;
    font-size: 70%;
}

ul li {
    padding-top:0.1em;
    list-style:circle;
}

h1 { font-size: 140%; }
h2 { font-size: 140%; }
